<section>
	
	<div class="r_col">
		<div class="service_graph">
		<p>Proposition unique</p>
		<div class="circle c1"><% if(lang=='fr'){ %> branding <% }else{ %> branding <% } %> </div>
		<div class="circle c2"><% if(lang=='fr'){ %> design graphique <% }else{ %> graphic design <% } %></div>
		<div class="circle c3"><% if(lang=='fr'){ %> gestion dfe projets <% }else{ %> project management <% } %></div>
		<div class="circle c4"><% if(lang=='fr'){ %> photographie<% }else{ %> photography <% } %> </div>
		<div class="circle c5"><% if(lang=='fr'){ %> site internet + médias sociaux <% }else{ %> websites + social medias <% } %> </div>
		<div class="circle c6"><% if(lang=='fr'){ %> création publicitaire <% }else{ %> advertising <% } %></div>
		</div>
	</div>
	
	
	<h1>
		<% if(lang=='fr'){ %>
			Services
		<% }else{ %>
			Services
		<% } %>
		</h1>
		<% }else{ %> <% } %>
		
		
<p>
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>

<p class="alt">
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>

