<!DOCTYPE HTML>
<!--  
<html manifest="clock.manifest"> -->
<html>
 <head>
  <title>Slinc Communication</title>
	<!-- 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->

	<script src="js/jquery-1.6.1.min.js"></script>
  <script src="js/jquery-ui-1.8.14.custom.min.js"></script>

	<script src="js/sammy/sammy.js"></script>
	<script src="js/sammy/plugins/sammy.template.js"></script>
	<script src="js/sammy/plugins/sammy.storage.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.oauth2.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.title.js"></script>
	


  <script src="slinc.js"></script>
  

	<link rel="stylesheet" href="css/reset.css">

	<link rel="stylesheet" href="css/style_slinc.css">




 </head>
 <body>

<div class="wrapper">
<header id="header">
	
<nav id="nav_secondary">
	<a href="/#!/en">English</a>
	<a href="/#!/fr/contact">Contact</a>
</nav>
	
<h1>Slinc Communications</h1>

<nav id="nav_main">
	<en>
	<a href="/#!/en">Home</a>
	<a href="/#!/en/services">Services</a>
	<a href="/#!/en/team">Team</a>
	<a href="/#!/en/portfolio">Work</a>
	<a href="/#!/en/contact">Contact</a>
	</en>
	<fr>
	<a href="/#!/fr">accueil</a>
	<a href="/#!/fr/services">Services</a>
	<a href="/#!/fr/team">Équipe</a>
	<a href="/#!/fr/portfolio">Portfolio</a>
	<a href="/#!/fr/contact">Contactez-nous</a>
	</fr>
</nav>

</header>

<div id="sections">
	<section>
	You need javascript enabled to run this website...
	</section>
</div><!--  eo sections -->

</div><!-- eo wrapper -->
<footer>
	<p>¢ All content Slinc communication, HTML5 by <a href="http://iplanwebsites.com/">iplanwebsites.com</a>, hosted on <a href="http://www.heroku.com/">heroku</a>.</p>
</footer>

 </body>
</html>
