<!DOCTYPE HTML>
<!--  
<html manifest="clock.manifest"> -->
<html>
 <head>
  <title>Slinc Communication</title>
	<!-- 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->

	<script src="js/jquery-1.6.1.min.js"></script>
  <script src="js/jquery-ui-1.8.14.custom.min.js"></script>

	<script src="js/sammy/sammy.js"></script>
	<script src="js/sammy/plugins/sammy.template.js"></script>
	<script src="js/sammy/plugins/sammy.storage.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.oauth2.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.title.js"></script>
	<script src="js/sammy/plugins/sammy.googleanalytics.js"></script>
	


  <script src="slinc.js"></script>
  

	<link rel="stylesheet" href="css/reset.css">

	<link rel="stylesheet" href="css/style_slinc.css">




 </head>
 <body>


<header id="header" class="wrapper">
	
header base content

</header>

<div class="wrapper">
<div id="sections">
	<section>
	You need javascript enabled to run this website...
	</section>
</div><!--  eo sections -->

<div class="clear"></div>
</div><!-- eo wrapper -->
<footer>
	<p>¢ All content Slinc communication, HTML5 coding by <a href="http://iplanwebsites.com/">iplanwebsites.com</a>, hosted on <a href="http://www.heroku.com/">heroku</a>.</p>
</footer>

 </body>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24688279-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
