<!DOCTYPE HTML>
<!--  
<html manifest="slinc.manifest"> -->
<html lang="fr" class="no-js">
 <head>
  <title>SLINC Communications</title>
	<meta name="google-site-verification" content="JXyR8mFvWDtT2PhqVwVUkDpXhDHzaTzDRuEjIyJIEes" />
  <meta http-equiv="imagetoolbar" content="false" />

	<link type="text/plain" rel="author" href="humans.txt" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/din1/stylesheet.css">
	<link rel="stylesheet" href="css/bx_styles/bx_styles.css">	
	<link rel="stylesheet" href="css/lightbox/colorbox.css">
	<link rel="stylesheet" href="css/style_slinc.css">	
	
  <script src="js/html5.js"> </script> 
	<script src="js/modernizr.js"></script>
	
	<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
	
	<!-- Done in the Css flat file instead...
	<script src="http://static.zencodez.net/js/jquery.css3finalize-latest.min.js"></script>-->
 </head>
 <body>

<div id="cache"></div>


<div id="seo">
	Slinc site Web

	Accueil

	LES BONNES IDÉES...
	“GOOD DESIGN”

	SLINC est heureuse d’inaugurer son site Web. Nous vous invitons à entrer, faire comme chez vous et découvrir une entreprise zéro prétention, sympathique et pas compliquée, où la créativité, la simplicité et l’efficacité se côtoient avec un égal bonheur.

	FONT DE BONNES AFFAIRES
	“IS GOOD BUSINESS”

	Notre vaste expérience acquise au sein des grandes firmes de com nous permet de livrer un produit de qualité professionnelle, digne des meilleures agences, en comptant sur une équipe tricotée serrée.

	Slinc site Web

	Services

	Slinc, c’est d’abord une équipe expérimentée, composée de talents multidisplinaires, capable de répondre aux demandes de nos clients avec une efficacité redoutable et de générer de la valeur pour leurs marques. 

	Nous offrons tous les services liés à la création, à la gestion de la marque ainsi qu’à la production, la photographie et l’illustration. Notre studio de photo intégré à nos bureaux nous permet de fournir un service de qualité à prix compétitif.

	Créatifs et expérimentés, nous sommes constamment à l’affût des tendances et des nouvelles technologies, mais sans y adhérer systématiquement. Chez Slinc, nous croyons que les besoins de nos clients sont uniques et qu’il doit être traité de façon unique.

	Slinc site Web

	Équipe

	Marc Simoneau
	Directeur artistique

	Son baccalauréat en design graphique en poche, Marc entame sa carrière dans le monde des agences en 1994 chez Desjardins Bibeau, une jeune entreprise de communication-design en plein essor. Il y travaille deux ans à titre de designer graphique, aiguisant ses armes et développant son sens créatif et artistique. Il fait ensuite le saut dans les ligues majeures chez Allard et associés, où il travaille pour des clients d’envergure comme la Banque Royale, la Maison des Futailles et Yoplait. Plus tard, il devient directeur artistique chez PNMD (BBDO), où il apporte sa contribution sur des comptes de premier plan tels Labatt Bleue Dry, Pharmaprix et Provigo. Son parcours dans les grandes firmes le mène alors chez Armada (Équipe Players), Blitz (Bell, Monnaie Royale) puis Publicis. 
	Polyvalent, Marc touche à tout, de la publicité au marketing relationnel, en passant par le packaging, le design interactif et l’image de marque. Il remporte notamment des Flèches d’or à deux reprises. En 2008, sa proposition de logo sera choisie pour devenir la nouvelle image de l’APCM (anciennement le Publicité Club).

	Certaines pièces du portfolio de Marc ont été conçues lorsqu’il était à l’emploi d’autres agences.

	Slinc site Web

	Équipe 

	Mélanie Gionet
	Directrice artistique

	Diplômée en arts visuels de l’Université de Moncton, Mélanie est également titulaire d’un baccalauréat en design graphique de l’UQÀM. Ses études terminées, Mélanie ne chôme pas et est rapidement embauchée chez Le Clan, où elle fait la connaissance de Francis Lipari. Ce dernier la recrutera plus tard lors du démarrage de sa nouvelle entreprise. Depuis 2008, Mélanie participe à la création, la production et la direction artistique de divers projets nationaux, pour des clients comme Canada Bread, Cadbury et D-BOX. Son sens graphique et artistique, ainsi que sa persévérance et son dévouement pour les clients qu’elle dessert font de Mélanie un élément essentiel de tout travail d’équipe. Dotée d’une bonne oreille et d’un sourire contagieux, Mélanie est toujours prête à écouter pour mieux cerner les besoins de ses clients. Cette fille d’équipe est vraiment appréciée de tous.

	Slinc site Web

	Équipe 

	Alain Lemyre
	Infographiste et photographe

	Alain possède plusieurs cordes à son arc. Après des études en photographie, il complète sa formation par un cours en infographie. Cette combinaison de deux disciplines lui permettra de fourbir ses armes en imagerie numérique et même de toucher à l’animation flash. Il entreprend sa carrière en 1998 comme photographe pour la ville de Lasalle, puis accumule diverses expériences comme photographe et infographiste avant de joindre Le Clan en 2004. En 2008, il joint Francis Lipari et sa nouvelle entreprise. Doté de connaissances techniques pointues, il excelle autant devant un écran d’ordinateur que derrière la caméra. 

	Sa polyvalence est un atout important dans l’équipe de Slinc.

	Slinc site Web

	Équipe 
	Francis Lipari 
	Directeur général

	Diplômé en Marketing, Francis a d’abord développé son expertise au sein du Groupe Marketing de PIRELLI PNEUS DU CANADA, où il a, entre autres, été en responsable de l’organisation d’une importante présentation d’agence ainsi que du développement d’une campagne percutante avec l’agence sélectionnée (Cossette), ce qui lui valut un Coq d’Or.
	En 1987, il est remarqué dans l’industrie et joint le Groupe BCP Marketplace. Afin de contribuer à l’essor de l’agence et de la doter d’un système efficace de gestion, il prend alors le virage de la gestion des opérations et de la production et met à contribution son talent de planificateur, d’organisateur et de négociateur au bénéfice de ses nombreux clients.

	En 1989, il crée l’agence K*A*K*I Stratégies, où il sert de prestigieux clients nationaux pendant cinq fructueuses années jusqu’à ce qu’il décide de fonder son propre studio de production et de design graphique dans le but d’offrir un service clé en main aux agences de communications et de publicité. Il a servi notamment des agences d’envergure comme PNMD, Cossette et Le Clan. Le Clan connaît une croissance fulgurante et Francis accepte de diriger le studio, ce qu’il fait avec brio pendant plus de dix ans en tant que vice-président des opérations. Dès lors, il acquiert une expérience redoutable en matière de gestion et de production de campagnes multiplateformes. Il démarre ensuite sa propre entreprise, Flipgraffik, à laquelle s’ajoute la division Slinc en 2011. Tafisa Canada, JM, SuperClub Vidéotron, Delcraft, Modea, UNI Training, entre autres, sont au nombre de ses clients.

	<small>
	<p>© 2011 Slinc Communications
		<br/>
		<em>Code HTML5 par <a href="http://iplanwebsites.com/">iplanwebsites.com</a>.</em></p>
	</small>
	
	
</div> <!-- eo SEO text-->



<header id="header" class="wrapper">
	<!-- 
header base content-->

</header>

<div class="wrapper">
<div id="sections">
	 <section class="active nojs">
		<!-- No JS... -->
	</section>
	
	<section class="home"></section>
	<section class="service"></section>
	<section class="portfolio"></section>
	<section class="equipe"></section>
	<section class="contact"></section>
	
	
</div><!--  eo sections -->

<div class="clear"></div>
</div><!-- eo wrapper -->
<footer>
	
</footer>

<div id="force_scroll"></div>
	
 </body>


	<!-- 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->

	<!-- 	<script src="js/jquery-1.6.2.min.js"></script>
<script src="js/jquery-ui-1.8.14.custom.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>-->


  <script src="js/jquery-1.6.1.min.js"> </script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.bxSlider.js"></script>
	<script src="js/jquery.colorbox-iplan.js"></script>

		<script src="js/sammy/sammy.js"></script>
		<script src="js/sammy/plugins/sammy.template.js"></script>
		<script src="js/sammy/plugins/sammy.json.js"></script>
		<script src="js/sammy/plugins/sammy.title.js"></script>
		<script src="js/sammy/plugins/sammy.googleanalytics.js"></script>

	  <script src="slinc.js"></script>
	
	
<script type="text/javascript">
/* registered on iplanwebsites.com account for SLINC  
*/
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24688279-2']);  
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>
</html>
