
/*

SLINC GREEN: #bed600



-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

*/


#cache{ 
	background:#fff; 
		-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
	-o-transition: all 1.2s ease-in-out;
	-ms-transition: all 1.2s ease-in-out;
	transition: all 1.2s ease-in-out;
	z-index:1000;
	width:100%;
	height:100%;
	position:fixed;
}
#cache.invisible{opacity:0;}

#sections{ position:relative; height:600px; overflow:hidden; }
section{
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

}

section.in{
	opacity:0;
	margin-top:-10px;
}

section.out{
	opacity:0; 
	margin:0; padding:0;
	margin-top:30px;

}

section.home p.invisible{opacity:0; 	
}
section.home p{opacity:1; -webkit-transition: all 1.2s ease-in-out;
-moz-transition: all 1.2s ease-in-out;
-o-transition: all 1.2s ease-in-out;
-ms-transition: all 1.2s ease-in-out;
transition: all 1.2s ease-in-out;}

.portfolio h1{ text-align:right; float:right;}

body{ 
background: #fff url('../img/bg1.gif') 0px -350px;
font-family: 'din reg';
/*
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;*/

 }

body.rotate.portfolio, body.rotate.contact, body.rotate.home{
	   -moz-transform:rotate(0deg);
	-webkit-transform:none;
	     -o-transform:rotate(0deg);
	    -ms-transform:rotate(0deg);
					transform:none;
}
body.rotate.services{
	   -moz-transform:rotate(1deg);
	-webkit-transform:rotate(1deg);
	     -o-transform:rotate(1deg);
	    -ms-transform:rotate(1deg);
					transform:rotate(1deg);
}
body.rotate.equipe{
	 -moz-transform:rotate(-1deg);
-webkit-transform:rotate(-1deg);
     -o-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
				transform:rotate(-1deg);
}

small{ font-family: arial, verdana, helvetica; }

h1, h2, h3, h4, h5, h6, h7{
	font-family: 'din bold';
}

a:hover{ color: #bed600;}

body.en fr, body.fr en{ background:#f00; /* TODO DISPLAY NONE ONCE STABLE*/}

.not_displayed{ display:none; }
.wrapper{ 
	margin:20px auto ; width:960px; background:#fff; box-shadow: 0px 3px 10px #888; 
	 padding: 0 20px;
	padding-top:10px;
	}
header.wrapper{margin-top:0px; padding:0px; padding: 0 20px; padding-top:5px; height:70px; margin:0 auto;  }


img.logo{ width:100px; padding-right:70px; float:left; margin-top:-20px; opacity:1; }
img.logo:hover{ opacity:0.8; }

nav a{ color:#bcbec0; text-decoration:none; margin-left:1em; text-transform:uppercase;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

}
nav a:hover{ color:#000; }
nav a:active{ color:#bed600; }

#nav_main{ font-size:18px; margin-top:20px; margin-left:45px; font-family:'din bold'; }
#nav_main a{ margin-right:30px;}
#nav_secondary{ float:right; font-size:14px; margin-right:50px; margin-top:25px;font-family:'din bold';  }
#nav_secondary a.contact{color:#bed600;}

/*active states in header nav */
body.home header nav a.home{color:#bed600;}
body.service header nav a.services{color:#bed600;}
body.portfolio header nav a.portfolio{color:#bed600;}
body.equipe header nav a.equipe{color:#bed600;}
body.contact header nav a.contact{color:#bed600; text-decoration:underline;}

/*  HOME  */


.graph_home{position:absolute; margin-left:135px; margin-top:30px;}
/* became 350 instead of 340 

*/
.bcircle{ 
	/*
	box-shadow: inset 0 0 15px 5px #888; */
	color:#777; opacity:0.9; 
	background:rgba(77,77,77,0.5); 
	 width:350px; 
	height:260px;
	padding-top:90px;
	border-radius: 440px; 
	top:20px;
	position:absolute;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	-webkit-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-o-transition: all 0.9s ease-in-out;
	-ms-transition: all 0.9s ease-in-out;
	transition: all 0.9s ease-in-out;
}
.graph_home.centered .bcircle{left:175px;
	-webkit-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-o-transition: all 0.9s ease-in-out;
	-ms-transition: all 0.9s ease-in-out;
	transition: all 0.9s ease-in-out;
	} 

.bcircle strong{ 
	font-size:50px; font-family:'din bold'; 
letter-spacing:-3px; 
line-height:1em;
}
.bcircle em{ font-size:16px; font-family:'din bold'; padding-top:30px; display:block; font-style:normal; }
.bcircle.c1{left:85px;}
.bcircle.c2{left:260px;}
.bcircle.c1, .bcircle.c2{ opacity:0.3;}
.bcircle.c4, .bcircle.c5{ 
	/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;*/
}
.bcircle.c4{left:350px; background:#aaa; /*box-shadow: inset 0 0 15px 5px #999;*/}
/*
.bcircle.c4:hover{left:420px; padding-left:20px; padding-right:20px; padding-top:140px; padding-bottom:20px; top:0px; opacity:1; z-index:1;}
*/
.bcircle.c5{left:0px; background: #bed600; /*box-shadow: inset 0 0 15px 5px #aacc00;*/}
/*
.bcircle.c5:hover{left:-20px; padding-left:20px; padding-right:20px; padding-top:140px; padding-bottom:20px; top:0px; opacity:1;}*/
.spacer_400{ padding-bottom:405px;}



p.leftp{ margin-left:155px; margin-right:20px;}
p.rightp{ margin-left:20px; width:300px;}




/*  SECTIONS - Generic */
#sections{

	}
	
section{
	padding-bottom:100px;
	}


h1{ font-size:50px; text-transform:uppercase; color:#808285; margin-top:20px; }
p{ font-size:16px; font-weight:bold; color:#58595B; margin-top:30px;}
p.alt{ color:#808285; }
.r_col{ width: 50%; float:right; }








/* service
-------------------- */

.service_graph{width:390px; height:390px; border-radius: 400px; background:#bed600; color:#fff; 
	margin-top:30px; margin-bottom:20px;
	text-align:center; position:relative; font-family: 'din bold cond'; }
.service_graph h3{ color:#fff; padding-top:165px; font-size:20px; text-transform:uppercase; 
	position:absolute; text-align:center; width:390px;}
.service_graph .circle{ 
	width: 130px; height: 130px;
	background:rgba(68,75,10,0.2);
	border-radius: 360px; 
	text-align:center;
	position:absolute;
	margin-left:-65px;
	margin-top:-65px;
	font-size:20px;
	text-transform:uppercase;
	font-family: 'din bold cond';
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	 }
.service_graph .circle.active{
	width: 140px; height: 140px;
	margin-left:-70px;
	margin-top:-70px;
	
	background:rgba(68,75,10,0.9);
}
.service_graph .circle span{ margin-top:40%;  position:relative; display:block;}

.service_graph .circle.c1{
	top:93px;
	left:83px;
}
.service_graph .circle.c2{
	top:48px;
	left:227px;
}
.service_graph .circle.c3{
	top:150px;
	left:340px;
}
.service_graph .circle.c4{
	top:300px;
	left:300px;
}
.service_graph .circle.c5{
	top:340px;
	left:160px;
}
.service_graph .circle.c6{
	top:240px;
	left:50px;
}


section.service p{ width:400px;}

/* PORTFOLIO */

#pf_wrap{ padding-left:49px;}
ul.pf{ padding:0; margin:0; height:170px; overflow:hidden; }
ul.pf li{padding:0; margin:0; width:215px;  }
ul.pf li img{ width:210px;  padding:0; margin:0; border-radius: 20px; background:#ccc; opacity:0.8; cursor:pointer;  }
ul.pf li img:hover{opacity:1;}

.spacer_100{ padding-bottom:150px;}

p.half_width{ width:45%; margin-left:50px;}


section.portfolio nav{ position:relative; margin-top:20px;}

section.portfolio nav a {
	position:absolute;
	top:0px;
	width: 85px; height: 53px;
	padding-top:32px;
	border-radius: 360px;
	text-align:center;
	background:#999;
	display:block;
	
	color:#fff;
	opacity:0.8;
	font-family:'GothamBold';
	font-size:14px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
}
section.portfolio nav a.design{left:70px;z-index:1; background:#bbb;}
section.portfolio nav a.web{left:140px; background:#555; }
section.portfolio nav a.active{ background:#bed600; z-index:3; opacity:0.9; }
section.portfolio nav a:hover{ opacity:1; z-index:2; background:#444; cursor:pointer; }




/* EQUIPE
------------------------------ */

section.equipe .box{ background:#aaa; border-radius:15px; padding:40px; color:#fff; height:450px; margin-bottom:30px; position:relative; }

section.equipe .box .bio { 
	opacity:0; 
	margin-left:-50px;
	position:absolute;
	width:400px;
	
	top:30px;
	-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;}

.equipe .box .bio.active { opacity:1; margin-left:0px; }
.equipe .box .bio.out { margin-left:50px;}
.equipe .box .bio h5 { font-size:16px; margin-top:20px;}
.equipe .box .bio h5 em{ display:block; font-style:normal; font-weight:normal; }
.equipe .box .bio p{ color:#fff; font-size:13px; }

section.equipe nav{ margin-top:50px; width:350px;}
section.equipe nav a { width:100px; height:100px; float:left; margin:3px;}
section.equipe nav a img{ width:100px; height:100px;  border-radius:8px; border:solid 1px #ccc; opacity:1;  }
section.equipe nav a img:hover{ opacity:0.8;}
section.equipe nav a.active img{ opacity:0.5;}





/* CONTACT
------------------------------ */

.contact small p{font-size:14px; width:350px;}

.contact .infos{ margin-top:50px; font-size:16px; line-height:1.5em;}

.contact .infos a{ color:#555; text-decoration:none; line-height:1.7em; margin:0px;}

.contact .r_col{ margin-bottom:30px;}


/* FOOTER*/

footer{ background:#777; width:100%; padding:0px; color:#fff; clear:both;}
footer p{ padding:20px 0px; width:960px; margin:auto; font-size:14px; color:#fff;}

footer em{opacity: 0.6; font-size:12px;}
footer a, footer a:hover, footer a:visited{ color:#fff; text-decoration:underline;}
footer a:active{color:#fff;}
.hide{ opacity:0; }














