/*

SLINC GREEN: #bed600



-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

*/


/*
border-radius fixes for ugly browsers

*/









.borderradius .radiusAlt{display:none;}
.no-borderradius  .radiusAlt{display:block;}

.no-borderradius .graph_home .bcircle{display:none;}

.no-borderradius .service_graph .circle, .no-borderradius .service_graph h3{display:none;}

/*
section.active{background:#0f0;}
section.out{background:#f00;}
section.in{background:#00f;}
*/

/*  test FOR IE stupid class handling... */

img.loading, ul.pf li img.loading{opacity:0;  }

body.home section.home, body.contact section.contact, body.service section.service, 
body.portfolio section.portfolio, body.equipe section.equipe{
	opacity:1; 
	display:block;
	}



body, html{height:100%; min-height:100%;}
html.js #seo{ display:none;}

#cache {
    background: #fff;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed
    }

#cache.invisible {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

#sections {
    position: relative;
    height: 920px;  /* 670 is usually the max... */
    overflow: hidden;
		-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
    }


/* different section height... 
body.service #sections{ height:520px;}
body.equipe #sections{ height:670px;}
body.portfolio #sections{ height:500px;}
body.contact #sections{ height:450px;}


div.wrapper{  height:85%; }
body #sections{ height:100%;}
body #sections section{ height:100%;}
*/

#force_scroll{ 
	display:none;
	position:absolute; background:#0f0; 
	height:1200px; width:10px;
	top:0px;
	left:0px;
	z-index:200px;
	
}
 

/*
section{display:none;}
*/
section {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
		position: absolute;
    top: 0px;
		clear: both;
    display: block;
		margin-top: -100%;
		width:100%;
    }

section.in {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    margin-top: -100%
    }

section.out {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    margin: 0;
    padding: 0;
    margin-top: -100%
    }

		section.active {
		    margin-top: 0px;
		    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		    filter: alpha(opacity=100);
		    opacity: 1;
		    z-index: 1
		    }
		
		
/*          */
section.service, section.equipe, section.contact {
    padding-left: 33px
    }

section.home p.invisible {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

section.home p {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out
    }

/*
section.portfolio h1 {
    text-align: right;
    float: right
    }*/

body {
    background: #fff url(../img/bg1.gif) 0 -350px;
    font-family: "din bold", "din black", Arial, Verdana;
		letter-spacing:0px;
    /*
    	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
    }

body.rotate.portfolio, body.rotate.contact, body.rotate.home {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none
    }

body.rotate.services {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg)
    }

body.rotate.equipe {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg)
    }



small {
    font-family: arial, verdana, helvetica
    }

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "din black", "din bold", Arial, Verdana;
		font-weight:normal;
    }

a:hover {
    color: #bed600
    }

body.en fr, body.fr en {
    background: #f00;
    /* TODO DISPLAY NONE ONCE STABLE*/
    }

.not_displayed {
    display: none
    }

.wrapper {
    margin: 20px auto;
    width: 960px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px #888;
    -moz-box-shadow: 0 3px 10px #888;
    box-shadow: 0 3px 10px #888;
    padding: 0 20px;
    padding-top: 10px
    }
div.wrapper { padding:0px; width:1000px; margin-bottom:25px; }
section{padding:10px;}
section.service, section.equipe, section.contact{ padding-left:44px; padding-right:20px;}
header.wrapper {
    margin-top: 0;
    padding: 0;
    padding: 0 20px;
    padding-top: 5px;
    height: 80px;
    margin: 0 auto;
    }

img.logo {
    width: 117px;
    padding-right: 10px;
    float: left;
    margin-top: -32px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    margin-left: -20px;
    margin-right: 50px
    }

img.logo:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8
    }

nav a {
    color: #bcbec0;
    text-decoration: none;
    margin-left: 1em;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
    }

nav a:hover {
    color: #000
    }

nav a:active {
    color: #bed600
    }

#nav_main {
    font-size: 18px;
    margin-top: 32px;
    margin-left: 45px;
    font-family: "din black", "din bold", Arial, Verdana
    }

#nav_main a {
    margin-right: 30px
    }

#nav_secondary {
    float: right;
    font-size: 14px;
    margin-right: 30px;
    margin-top: 35px;
    font-family: "din bold", "din black", Arial, Verdana;
    }

#nav_secondary a.contact {
    color: #bed600
    }

/*active states in header nav */
body.home header nav a.home {
    color: #bed600
    }

body.service header nav a.services {
    color: #bed600
    }

body.portfolio header nav a.portfolio {
    color: #bed600
    }

body.equipe header nav a.equipe {
    color: #bed600
    }

body.contact header nav a.contact {
    color: #bed600;
    text-decoration: underline
    }

/*  HOME  */
.graph_home {
    position: absolute;
    margin-left: 135px;
    margin-top: 30px
    }

/* became 350 instead of 340 

*/
.bcircle {
    /*
    	box-shadow: inset 0 0 15px 5px #888; */
    color: #777;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    background: rgba(77, 77, 77, 0.5);
    width: 350px;
    height: 260px;
    padding-top: 90px;
    -webkit-border-radius: 440px;
    -moz-border-radius: 440px;
behavior: url(border-radius.htc);
    border-radius: 440px;
    top: 20px;
    position: absolute;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out
    }

.graph_home.centered .bcircle {
    left: 175px;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out
    }

.bcircle strong {
    font-size: 50px;
    font-family: "din black", "din bold", Arial, Verdana;
		letter-spacing:1px;
    letter-spacing: 0px;
    line-height: 1em;
		font-weight:normal;

    }

.bcircle em {
    font-size: 16px;
    font-family: "din bold", "din black", Arial, Verdana;
    padding-top: 30px;
    display: block;
    font-style: normal
    }

.bcircle.c1 {
    left: 85px
    }

.bcircle.c2 {
    left: 260px
    }

.bcircle.c1, .bcircle.c2 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3
    }

.bcircle.c4, .bcircle.c5 {
    /*
    	-webkit-transition: all 0.2s ease-in-out;
    	-moz-transition: all 0.2s ease-in-out;
    	-o-transition: all 0.2s ease-in-out;
    	-ms-transition: all 0.2s ease-in-out;
    	transition: all 0.2s ease-in-out;*/
    }

.bcircle.c4 {
    left: 350px;
    background: #aaa;
    /*box-shadow: inset 0 0 15px 5px #999;*/
    }

/*
.bcircle.c4:hover{left:420px; padding-left:20px; padding-right:20px; padding-top:140px; padding-bottom:20px; top:0px; opacity:1; z-index:1;}
*/
.bcircle.c5 {
    left: 0;
    background: #bed600;
    /*box-shadow: inset 0 0 15px 5px #aacc00;*/
    }

/*
.bcircle.c5:hover{left:-20px; padding-left:20px; padding-right:20px; padding-top:140px; padding-bottom:20px; top:0px; opacity:1;}*/
.spacer_400 {
    padding-bottom: 405px
    }

p.leftp {
    margin-left: 145px;
    margin-right: 20px;
		padding-left: 20px;
		width:320px;
    }

p.rightp {
    margin-left: 20px;
    width: 320px
    }

/*  SECTIONS - Generic */
section {
    padding-bottom: 100px
    }

h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #808285;
    margin-top: 20px
    }

p {
    font-size: 16px;
    color: #58595B;
    margin-top: 30px
    }

p.alt {
    color: #808285
    }

.r_col {
    width: 50%;
    float: right;
		margin-top:0px;
    }
section.service .r_col, section.equipe .r_col, section.contact .r_col {
		    width: 50%;
		    float: right;
				margin-top:20px;
}
		
		section.equipe .r_col{ margin-right:50px;}
/* service
-------------------- */
.service_graph {
    width: 390px;
    height: 390px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
behavior: url(border-radius.htc);
    border-radius: 400px;
    background: #bed600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    font-family: "din bold", "din black", Arial, Verdana
    }

.service_graph h3 {
    color: #fff;
    padding-top: 165px;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    width: 390px
    }

.service_graph .circle {
    width: 130px;
    height: 130px;
    background: rgba(68, 75, 10, 0.2);
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
behavior: url(border-radius.htc);
    border-radius: 360px;
    text-align: center;
    position: absolute;
    margin-left: -65px;
    margin-top: -65px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "din black", "din bold", Arial, Verdana;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out
    }

.service_graph .circle.active {
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    background: rgba(68, 75, 10, 0.9);
		background: rgba(58, 170, 225, 0.8)
    }

.service_graph .circle span {
    margin-top: 38%;
    position: relative;
    display: block;
    }
.service_graph .circle.single span{
	margin-top: 44%;
}
.service_graph .circle.quad span{
	margin-top: 25%;
}
	
.service_graph .circle.c1 {
    top: 93px;
    left: 83px
    }

.service_graph .circle.c2 {
    top: 48px;
    left: 227px
    }

.service_graph .circle.c3 {
    top: 150px;
    left: 340px
    }

.service_graph .circle.c4 {
    top: 300px;
    left: 300px
    }

.service_graph .circle.c5 {
    top: 340px;
    left: 160px
    }

.service_graph .circle.c6 {
    top: 240px;
    left: 50px
    }

section.service p {
    width: 400px
    }

/* PORTFOLIO */
/*
body.portfolio div.wrapper{
	padding-left:0; width:980px; 

}*/
body div.wrapper{
	-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out
}


#pf_wrap {
    padding-left: 49px;
		padding-left: 48px;
		margin-left:0px;
		
}

#pf_wrap .bx-prev{ margin-left:10px}
#pf_wrap .bx-next{ margin-right:20px}
ul.pf {
    padding: 0;
    margin: 0;
    height: 170px;
    overflow: hidden
    }

ul.pf li {
    padding: 0;
    margin: 0;
    width: 225px; /* this is where padding happen... was 215*/
    }

ul.pf li img {
    width: 210px;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
		behavior: url(border-radius.htc);
    border-radius: 20px;
    background: #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    cursor: pointer;
		-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out

    }

ul.pf li img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

.spacer_100 {
    padding-bottom: 150px
    }

p.half_width {
    width: 45%;
    margin-left: 50px
    }

section.portfolio nav {
    position: relative;
    margin-top: 20px;
		margin-left:30px;
		
    }

section.portfolio nav a {
    position: absolute;
    top: 0;
    width: 85px;
    height: 50px;
    padding-top: 35px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
behavior: url(border-radius.htc);
    border-radius: 360px;
    text-align: center;
    background: #999;
    display: block;
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    font-family: "din black", "din bold", Arial, Verdana;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
    }

section.portfolio nav a.design {
    left: 70px;
    z-index: 1;
    background: #bbb
    }

section.portfolio nav a.web {
    left: 140px;
    background: #555
    }

section.portfolio nav a.active {
    background: #bed600;
    z-index: 3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9
    }

section.portfolio nav a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
    background: #444;
    cursor: pointer
    }


/* lightbox */
#cboxTitle strong{  
	font-weight:normal; 
	font-family: 'din black', arial, verdana;
	font-size:13px;
	}
	#cboxTitle em{ color: #bed600;
		font-family: 'din black', arial, verdana;
		
		margin-left:5px; margin-right:5px;
} 
		
#cboxTitle { 
	font-family: 'din reg', arial, verdana;
	font-size:10px;
	letter-spacing:1px;
	text-align:left; margin-left:10px; 
	margin-right:250px;
	display:block;
	margin-bottom:-5px;
	width:70%;
	height:50px;
	vertical-align:bottom;
	}
 #cboxLoadedContent{margin-bottom:57px;}

#cboxNext, #cboxPrevious{ margin-bottom:28px; background:#f00; right:20px; bottom:5px; display:none; margin-left:-1000px; }

#cboxCurrent{ 
	
	right:35px; bottom:3px; 
	
	text-align:right;
	font-size:16px;
}

/* EQUIPE
------------------------------ */
section.equipe .box {
    background: #aaa;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
behavior: url(border-radius.htc);
    border-radius: 15px;
    padding: 40px;
    color: #fff;
    height: 530px;
    margin-bottom: 30px;
    position: relative;
width:400px;
    }

section.equipe .box .bio {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    margin-left: -50px;
    position: absolute;
    width: 400px;
    top: 30px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out
    }

section.equipe .box .bio p {
    font-family: "din bold", "din black", Arial, Verdana
    }

.equipe .box .bio.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    margin-left: 0
    }

.equipe .box .bio.out {
    margin-left: 0px
    }

.equipe .box .bio h5 {
    font-size: 16px;
    margin-top: 20px
    }

.equipe .box .bio h5 em {
    display: block;
    font-style: normal;
    font-weight: normal
    }

.equipe .box .bio p {
    color: #fff;
    font-size: 13px
    }

section.equipe nav {
    margin-top: 50px;
    width: 250px; /* FIX here */
    }

section.equipe nav a {
    width: 100px;
    height: 100px;
    float: left;
    margin: 3px
    }

section.equipe nav a img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
behavior: url(border-radius.htc);
    border-radius: 8px;
    border: solid 1px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

section.equipe nav a img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8
    }

section.equipe nav a.active img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5
    }

/* CONTACT
------------------------------ */
section.contact .r_col{ width:60%; }

section.contact small p {
    font-size: 14px;
    width: 350px
    }
section.contact{ font-size:10px;}
section.contact .persons span{
	display:block;
	line-height:1em;
}
section.contact span.green, section.contact span.green a, section.contact span.green a:hover{
	color: #bed600;
}
.contact .infos {
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.5em
    }

.contact .infos a {
    color: #555;
    text-decoration: none;
    line-height: 1.7em;
    margin: 0
    }

.contact .r_col {
    margin-bottom: 30px
    }

/* FOOTER*/
footer {
    background: #777;
    width: 100%;
    padding: 0;
    color: #fff;
    clear: both;
		position:fixed;
		bottom:0;
		z-index:20;
    }

footer p {
    padding: 20px 0;
    width: 960px;
    margin: auto;
    font-size: 12px;
    color: #fff
    }

footer em {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
    font-size: 12px
    }

footer a, footer a:hover, footer a:visited {
    color: #fff;
    text-decoration: underline
    }

footer a:active {
    color: #fff
    }

.hide {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

