<nav id="nav_secondary">
	<% if(lang == 'en'){ %>
	<a href="/#!/fr">FR</a>
	<a href="/#!/en/contact" class="contact">Contact</a>
	<% }else{ %>
		<a href="/#!/en">Eng</a>
		<a href="/#!/fr/contact" class="contact">Contact</a>
	<% } %>
</nav>
	


<nav id="nav_main">
	<% if(lang == 'en'){ %>
	<en>
	<a href="/#!/en" class="home"><img src="img/logo_m.gif" class="logo" /></a>
	<a href="/#!/en/services" class="services">Services</a>

	<a href="/#!/en/portfolio/pub" class="portfolio">Work</a>
		<a href="/#!/en/equipe" class="equipe">Team</a>
	</en>
	<% }else{ %>
	<fr>
	<a href="/#!/fr"><img src="img/logo_m.gif" class="logo" /></a>
	<a href="/#!/fr/services" class="services">Services</a>
	<a href="/#!/fr/portfolio/pub"  class="portfolio">Portfolio</a>
	<a href="/#!/fr/equipe" class="equipe">Équipe</a>
	</fr>
	<% } %>
</nav>