<nav id="nav_secondary">
	<% if(lang == 'en'){ %>
	<a href="/#!/fr">FR</a>
	<a href="/#!/en/contact">Contact</a>
	<% }else{ %>
		<a href="/#!/en">Eng</a>
		<a href="/#!/fr/contact">Contact</a>
	<% } %>
</nav>
	


<nav id="nav_main">
	<% if(lang == 'en'){ %>
	<en>
	<a href="/#!/en"><img src="img/logo_m.gif" class="logo" /></a>
	<a href="/#!/en/services">Services</a>
	<a href="/#!/en/team">Team</a>
	<a href="/#!/en/portfolio/pub">Work</a>
	</en>
	<% }else{ %>
	<fr>
	<a href="/#!/fr"><img src="img/logo_m.gif" class="logo" /></a>
	<a href="/#!/fr/services">Services</a>
	<a href="/#!/fr/portfolio/pub">Portfolio</a>
	<a href="/#!/fr/team">Équipe</a>
	</fr>
	<% } %>
</nav>