<ul class="pf <%= cat %> hide">
	<% for ( var i = 0; i < projects.length; i++ ) { %>
<li>
	<a href="portfolio/<%= projects[i].id %>/1.jpg" rel="box_<%=i%>"  class="lightboxlink">
	<img src="portfolio/<%= projects[i].id %>/tb1.jpg" width="210" height="170" alt="<%= projects[i]['title_'+lang] %> (<%= projects[i].id %>)" data-id="<%= projects[i].id %>" />
	</a>

<% for ( var k = 2; k <= projects[i].nbImg; k++ ) { %>
	<a href="portfolio/<%= projects[i].id %>/<%=k%>.jpg" rel="box_<%=i%>"  class="lightboxlink not_displayed"> x </a>
	<% } %>
	</li>
<% } %>


</ul>