<section class="service in">
	
	<div class="r_col">
		<div class="service_graph">
		<h3>Proposition<br/>unique</h3>
			<div class="circle c1 active"><span><% if(lang=='fr'){ %> branding <% }else{ %> branding <% } %> </span></div>
			<div class="circle c2"><span><% if(lang=='fr'){ %> design<br/>graphique <% }else{ %> graphic design <% } %></span></div>
			<div class="circle c3"><span><% if(lang=='fr'){ %> gestion de<br/>projets <% }else{ %> project management <% } %></span></div>
			<div class="circle c4"><span><% if(lang=='fr'){ %> photographie<% }else{ %> photography <% } %> </span></div>
			<div class="circle c5"><span><% if(lang=='fr'){ %> site internet + médias sociaux <% }else{ %> websites + social medias <% } %> </span></div>
			<div class="circle c6"><span><% if(lang=='fr'){ %> création publicitaire <% }else{ %> advertising <% } %></span></div>
	
		
		</div>
	</div>
	
	
	<h1>
		<% if(lang=='fr'){ %>
			Services
		<% }else{ %>
			Services
		<% } %>
		</h1>
		
<p>
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>

<p class="alt">
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>

