<section class="contact in">
	

	
	<div class="r_col">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=1751+Rue+Richardson,+Montr%C3%A9al,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Qu%C3%A9bec+H3K+1G5,+Canada&amp;ie=UTF8&amp;hl=en&amp;geocode=Fc0HtgId1oed-w&amp;split=0&amp;sll=37.0625,-95.677068&amp;sspn=23.875,57.630033&amp;hq=&amp;hnear=1751+Rue+Richardson,+Montr%C3%A9al,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Qu%C3%A9bec+H3K+1G5,+Canada&amp;z=14&amp;ll=45.483981,-73.562154&amp;output=embed"></iframe><br /><small>
			
			
			<!-- 
			<a href="http://maps.google.com/maps?q=1751+Rue+Richardson,+Montr%C3%A9al,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Qu%C3%A9bec+H3K+1G5,+Canada&amp;ie=UTF8&amp;hl=en&amp;geocode=Fc0HtgId1oed-w&amp;split=0&amp;sll=37.0625,-95.677068&amp;sspn=23.875,57.630033&amp;hq=&amp;hnear=1751+Rue+Richardson,+Montr%C3%A9al,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Qu%C3%A9bec+H3K+1G5,+Canada&amp;z=14&amp;ll=45.483981,-73.562154&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		
		-->
		
		
		
		
		</div>
		
			<h1>Contact</h1>
		
		<small>
		<p>Feel free to contact us for a quote request, or just to say hello... dsf dfg fdg dfsg fdg fdsg dfg dfg dfsgewiuor eiruyeiqwury iewyriu oewwyriu yfkjjdsf dsfksdf</p>
		</small>
		
		<div class="infos vcard" item-type="http://microformats.org/profile/hcard">
			
			<a class="fn org url" href="http://www.slincom.ca" title="Slinc Communications">
				<h3 class="organization-name">Slinc Communications</h3>
			</a>
			

			<span class="street-address">1751 Richardson, suite 5312</span>, <span class="locality">Montreal</span>
			<span class="region">(QC)</span>,<br/>
			<span class="postal-code">H3K 1G6</span>, <b class="country">Canada</b><br/>
			<span class="tel">Telephone: <span class="value">+1 (514) 750-2561</span></span>

		</div>
		
		
		
</section>