<section class="home in">
<div class="graph_home centered">

<div class="bcircle c1"> </div>
<div class="bcircle c2"> </div>


<div class="bcircle c4"> 
	<% if(lang=='fr'){ %> 
		<strong>Font de bonnes affaires</strong>
		<em>“is good business”</em>
	<% }else{ %>
		<strong>Font de bonnes affaires</strong>
		<em>“is good business”</em>
	<% } %>
	
	</div>
<div class="bcircle c5">
	
	<% if(lang=='fr'){ %> 
		<strong>Les<br/>bonnes<br/>&nbsp;&nbsp;&nbsp;&nbsp;idées...</strong>
		<em>“good design”</em>
	<% }else{ %>
			<strong>Les <br/>bonnes idées</strong>
			<em>“good design”</em>
	<% } %>
</div>
</div>	
	
	<div class="spacer_400" ></div>
	

<div class="r_col">
		<p class="alt rightp invisible">
				<% if(lang=='fr'){ %>
					Notre vaste expérience acquise au sein des grandes firmes de com nous permet de livrer un produit de qualité professionnelle, digne des meilleures agences, en comptant sur une équipe tricotée serrée.
					
				<% }else{ %>
				EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
				<% } %>
		</p>
</div>
		
		
<p class="leftp invisible">
		<% if(lang=='fr'){ %>
			SLINC est heureuse d’inaugurer son site Web. Nous vous invitons à entrer, faire comme chez vous et découvrir une entreprise zéro prétention, sympathique et pas compliquée, où la créativité, la simplicité et l’efficacité se côtoient avec un égal bonheur.
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>


</section>

