<section class="equipe in">

<div class="r_col">
	<div class="box">
		
	
		
		
		
		<div class="bio marc">
			<h5>Marc Simoneau
				<em><% if(lang=='fr'){ %>Directeur artistique<% }else{ %>Creative Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>Son baccalauréat en design graphique en poche, Marc entame sa carrière dans le monde des agences en 1994 chez Desjardins Bibeau, une jeune entreprise de communication-design en plein essor. Il y travaille deux ans à titre de designer graphique, aiguisant ses armes et développant son sens créatif et artistique. Il fait ensuite le saut dans les ligues majeures chez Allard et associés, où il travaille pour des clients d’envergure comme la Banque Royale, la Maison des Futailles et Yoplait. Plus tard, il devient directeur artistique chez PNMD (BBDO), où il apporte sa contribution sur des comptes de premier plan tels Labatt Bleue Dry, Pharmaprix et Provigo. Son parcours dans les grandes firmes le mène alors chez Armada (Équipe Players), Blitz (Bell, Monnaie Royale) puis Publicis. 
					</p><p>
					Polyvalent, Marc touche à tout, de la publicité au marketing relationnel, en passant par le packaging, le design interactif et l’image de marque. Il remporte notamment des Flèches d’or à deux reprises. En 2008, sa proposition de logo sera choisie pour devenir la nouvelle image de l’APCM (anciennement le Publicité Club).
					</p><p>
					Certaines pièces du portfolio de Marc ont été conçues lorsqu’il était à l’emploi d’autres agences.
					</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->
		
		
		
		
		<div class="bio melanie">
			<h5>Mélanie Gionet
				<em><% if(lang=='fr'){ %>Directrice artistique<% }else{ %>Creative Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>Diplômée en arts visuels de l’Université de Moncton, Mélanie est également titulaire d’un baccalauréat en design graphique de l’UQÀM. Ses études terminées, Mélanie ne chôme pas et est rapidement embauchée chez Le Clan, où elle fait la connaissance de Francis Lipari. Ce dernier la recrutera plus tard lors du démarrage de sa nouvelle entreprise. Depuis 2008, Mélanie participe à la création, la production et la direction artistique de divers projets nationaux, pour des clients comme Canada Bread, Cadbury et D-BOX. Son sens graphique et artistique, ainsi que sa persévérance et son dévouement pour les clients qu’elle dessert font de Mélanie un élément essentiel de tout travail d’équipe. Dotée d’une bonne oreille et d’un sourire contagieux, Mélanie est toujours prête à écouter pour mieux cerner les besoins de ses clients. Cette fille d’équipe est vraiment appréciée de tous.
						</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->




					<div class="bio alain">
						<h5>Alain Lemyre
							<em><% if(lang=='fr'){ %>Infographiste et photographe<% }else{ %>Photographer<% } %></em></h5>

							<% if(lang=='fr'){ %>


						<p>lain possède plusieurs cordes à son arc. Après des études en photographie, il complète sa formation par un cours en infographie. Cette combinaison de deux disciplines lui permettra de fourbir ses armes en imagerie numérique et même de toucher à l’animation flash. Il entreprend sa carrière en 1998 comme photographe pour la ville de Lasalle, puis accumule diverses expériences comme photographe et infographiste avant de joindre Le Clan en 2004. En 2008, il joint Francis Lipari et sa nouvelle entreprise. Doté de connaissances techniques pointues, il excelle autant devant un écran d’ordinateur que derrière la caméra. 
						</p>	<p>
								Sa polyvalence est un atout important dans l’équipe de Slinc.
							</p>

							<% }else{ %>

								<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
									</p>

								<% } %>
					</div><!-- eo bio -->
		
		
		
		
		<div class="bio francis">
			<h5>Francis Lipari 
				<em><% if(lang=='fr'){ %>Directeur général<% }else{ %>Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>		Diplômé en Marketing, Francis a d’abord développé son expertise au sein du Groupe Marketing de PIRELLI PNEUS DU CANADA, où il a, entre autres, été en responsable de l’organisation d’une importante présentation d’agence ainsi que du développement d’une campagne percutante avec l’agence sélectionnée (Cossette), ce qui lui valut un Coq d’Or.
					En 1987, il est remarqué dans l’industrie et joint le Groupe BCP Marketplace. Afin de contribuer à l’essor de l’agence et de la doter d’un système efficace de gestion, il prend alors le virage de la gestion des opérations et de la production et met à contribution son talent de planificateur, d’organisateur et de négociateur au bénéfice de ses nombreux clients.
				</p><p>
					En 1989, il crée l’agence K*A*K*I Stratégies, où il sert de prestigieux clients nationaux pendant cinq fructueuses années jusqu’à ce qu’il décide de fonder son propre studio de production et de design graphique dans le but d’offrir un service clé en main aux agences de communications et de publicité. Il a servi notamment des agences d’envergure comme PNMD, Cossette et Le Clan. Le Clan connaît une croissance fulgurante et Francis accepte de diriger le studio, ce qu’il fait avec brio pendant plus de dix ans en tant que vice-président des opérations. Dès lors, il acquiert une expérience redoutable en matière de gestion et de production de campagnes multiplateformes. Il démarre ensuite sa propre entreprise, Flipgraffik, à laquelle s’ajoute la division Slinc en 2011. Tafisa Canada, JM, SuperClub Vidéotron, Delcraft, Modea, UNI Training, entre autres, sont au nombre de ses clients.</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->
		
		
		
		
	</div>
</div>






<h1><% if(lang=='fr'){ %>
	Équipe
	<% }else{ %>
		Team
		<% } %>
</h1>

<nav>
	
	<a href="/#!/<%= lang %>/equipe/marc" class="marc">
		<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
	</a>

	
	<a href="/#!/<%= lang %>/equipe/melanie" class="melanie">
		<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
	</a>

	
<a href="/#!/<%= lang %>/equipe/alain" class="alain">
	<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
</a>

	
	<a href="/#!/<%= lang %>/equipe/francis" class="francis">
		<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
	</a>




</nav>	

<!--
<div class="spacer_100"></div>

<p>
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>-->


</section>

