<section class="contact">
	
	<h1>Contact</h1>
	
	<div class="r_col">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Flip-Graffik,+Montreal,+QC,+Canada&amp;aq=0&amp;sll=45.484101,-73.561932&amp;sspn=0.01026,0.021479&amp;ie=UTF8&amp;hq=Flip-Graffik,&amp;hnear=Montreal,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Quebec,+Canada&amp;ll=45.483981,-73.562154&amp;spn=0.164168,0.343666&amp;z=12&amp;iwloc=A&amp;cid=14567553879827322505&amp;output=embed"></iframe><br />
		<small>
			<a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Flip-Graffik,+Montreal,+QC,+Canada&amp;aq=0&amp;sll=45.484101,-73.561932&amp;sspn=0.01026,0.021479&amp;ie=UTF8&amp;hq=Flip-Graffik,&amp;hnear=Montreal,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Quebec,+Canada&amp;ll=45.483981,-73.562154&amp;spn=0.164168,0.343666&amp;z=12&amp;iwloc=A&amp;cid=14567553879827322505" class="larger_map">
			View Larger Map</a></small>
		
		</div>
		
		
		<small>
		<p>Feel free to contact us for a quote request, or just to say hello... dsf dfg fdg dfsg fdg fdsg dfg dfg dfsgewiuor eiruyeiqwury iewyriu oewwyriu yfkjjdsf dsfksdf</p>
		</small>
		
		<div class="infos vcard" item-type="http://microformats.org/profile/hcard">
			
			<a class="fn org url" href="http://www.slincom.ca" title="Slinc Communications">
				<h3 class="organization-name">Slinc Communications</h3>
			</a>
			

			<span class="street-address">1751 Richardson, suite 5312</span>, <span class="locality">Montreal</span>
			<span class="region">(QC)</span>,<br/>
			<span class="postal-code">H3K 1G6</span>, <b class="country">Canada</b><br/>
			<span class="tel">Telephone: <span class="value">+1 (514) 750-2561</span></span>

		</div>
		
		
		
</section>