	
	<div class="r_col">
		<div class="service_graph">
		  <div class="radiusAlt">
        <img src="/img/alt_services_<%=lang%>.gif" />
        </div>
		<h3>Proposition<br/>unique</h3>
			<div class="circle c1 active single"><span><% if(lang=='fr'){ %> branding <% }else{ %> branding <% } %> </span></div>
			<div class="circle c2"><span><% if(lang=='fr'){ %> design<br/>graphique <% }else{ %> graphic design <% } %></span></div>
			<div class="circle c3"><span><% if(lang=='fr'){ %> gestion de<br/>projets <% }else{ %> project management <% } %></span></div>
			<div class="circle c4 single"><span><% if(lang=='fr'){ %> photographie<% }else{ %> photography <% } %> </span></div>
			<div class="circle quad c5"><span><% if(lang=='fr'){ %> sites<br/>internet +<br/>médias<br/>sociaux <% }else{ %> websites<br/>social medias <% } %> </span></div>
			<div class="circle c6"><span><% if(lang=='fr'){ %> création<br/>publicitaire <% }else{ %> advertising <% } %></span></div>
	
		
		</div>
	</div>
	
	
	<h1>
		<% if(lang=='fr'){ %>
			Services
		<% }else{ %>
			Services
		<% } %>
		</h1>
		
<p>
		<% if(lang=='fr'){ %>
			Slinc, c’est d’abord une équipe expérimentée, composée de talents multidisplinaires, capable de répondre aux demandes de nos clients avec une efficacité redoutable et de générer de la valeur pour leurs marques. 
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>

<p class="alt">
		<% if(lang=='fr'){ %>
			Nous offrons tous les services liés à la création, à la gestion de la marque ainsi qu’à la production, la photographie et l’illustration. Notre studio de photo intégré à nos bureaux nous permet de fournir un service de qualité à prix compétitif.
			</p><p class="alt">
			Créatifs et expérimentés, nous sommes constamment à l’affût des tendances et des nouvelles technologies, mais sans y adhérer systématiquement. Chez Slinc, nous croyons que les besoins de nos clients sont uniques et qu’il doit être traité de façon unique.
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>

