<section class="home">
<div class="graph_home">

<div class="bcircle c1"> </div>
<div class="bcircle c2"> </div>


<div class="bcircle c4"> 
	<% if(lang=='fr'){ %> 
		<strong>Font de bonnes affaires</strong>
		<em>“is good business”</em>
	<% }else{ %>
		<strong>Font de bonnes affaires</strong>
		<em>“is good business”</em>
	<% } %>
	
	</div>
<div class="bcircle c5">
	
	<% if(lang=='fr'){ %> 
		<strong>Les<br/>bonnes<br/>idées...</strong>
		<em>“good design”</em>
	<% }else{ %>
			<strong>Les <br/>bonnes idées</strong>
			<em>“good design”</em>
	<% } %>
</div>
</div>	
	
	<div class="spacer_400" ></div>
	

<div class="r_col">
		<p class="alt">
				<% if(lang=='fr'){ %>
					FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
				<% }else{ %>
				EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
				<% } %>
		</p>
</div>
		
		
<p>
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>


</section>

