<section class="equipe in">

<div class="r_col">
	<div class="box">
		
		<div class="bio marc">
			<h5>Marc Simoneau
				<em><% if(lang=='fr'){ %>Directeur artistique<% }else{ %>Artistic Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jffoi dfgs fg dfsg dfg sdfgert ert jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
				</p>
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopidst ert erw ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->
		
		
		
		<div class="bio francis">
			<h5>Francis
				<em><% if(lang=='fr'){ %>Directeur artistique<% }else{ %>Artistic Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jffoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
				</p>
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->
		
		
		
		
		<div class="bio etc2">
			<h5>Francis
				<em><% if(lang=='fr'){ %>Directeur artistique<% }else{ %>Artistic Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jffoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
				</p>
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->




					<div class="bio etc3">
						<h5>ETC #3
							<em><% if(lang=='fr'){ %>Directeur artistique<% }else{ %>Artistic Director<% } %></em></h5>

							<% if(lang=='fr'){ %>


						<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jffoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
							</p>
								<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
									</p>

							<% }else{ %>

								<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
									</p>

								<% } %>
					</div><!-- eo bio -->
		
		
		
		
		<div class="bio etc">
			<h5>ETC etc
				<em><% if(lang=='fr'){ %>Directeur artistique<% }else{ %>Artistic Director<% } %></em></h5>
				
				<% if(lang=='fr'){ %>
					
						
			<p>dsjfo idsajwreter twretwrefoid jsafoij dsaofipj dsioewrt ert erwt ewrt jfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jffoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfoerwt idsajfoid jsafoij dsaofipj dsiojfopi
				</p>
					<p>dswert erwt ert ert ertjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>

				<% }else{ %>
					 
					<p>dsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxz nv,x cznv zx v,cxv x f afdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopidsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifp jdsopf jdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv., cmxznv,xc znvz xv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaof jodsjfo idsajfoid jsafoij dsaofipj dsiojfopi
						</p>
						
					<% } %>
		</div><!-- eo bio -->
		
		
		
		
	</div>
</div>






<h1><% if(lang=='fr'){ %>
	Équipe
	<% }else{ %>
		Team
		<% } %>
</h1>

<nav>
	
	
	<a href="/#!/<%= lang %>/equipe/marc" class="marc">
		<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
	</a>
	
	<a href="/#!/<%= lang %>/equipe/francis" class="francis">
		<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
	</a>
	
	
	
	
<a href="/#!/<%= lang %>/equipe/etc3" class="etc3">
	<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
</a>
<a href="/#!/<%= lang %>/equipe/etc" class="etc">
	<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
</a>
<a href="/#!/<%= lang %>/equipe/etc2" class="etc2">
	<img alt="Marc Simoneau" src="http://www.catchannel.com/images/zones/top_promo/cat_tab_kitten_nutrition.jpg" />
</a>


</nav>	

<!--
<div class="spacer_100"></div>

<p>
		<% if(lang=='fr'){ %>
			FR o jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfod jsafoij dzmnv.,cmxznv,xcznvzxv,cxv x fafdsaf sdaf sdaf dsaf ds jfdsaofjodsjfo idsajfoid jsafoij dsaofipj dsiojfopid
		<% }else{ %>
		EN id jsafoij dsaofipj dsiojfopids ajfoip sdjoifpjdsopfjdsopifj odpasjfopi sdajfoi jsdfoip jsdofjdsiop fjodsjfopsjdafop jasdfop ijsdopf jsdopifj odsfj osdjfodsjfo sjdf sdiof sdfoidsajfopasdjf oasdjflmczafoij dsaofipj dsiojfopid
		<% } %>
</p>-->


</section>

